#simplenavbar {

    width:101%;
    height:70px;
    margin-left: -0.59%;
    margin-top: -0.6%;
    background-color: black;
    

}

h1{

    color: blue
}

img {
    
    width:  200px;
    height: 200px;
    
}
