#simplenavbar {

    width:101%;
    height:70px;
    margin-left: -0.59%;
    margin-top: -0.6%;
    background-color: black;
    

}

<<<<<<< HEAD:staticfiles/styles/main.css
h1{

    color: blue
}

img {
    
    width:  200px;
    height: 200px;
    
}
=======
#endfooter {

   width: 101%;
   height: 12rem;
   margin-top: -5%;
   margin-left: -0.5%;
   background-color: black;

}
>>>>>>> ff0b407a83037747372de25a5a9ccba4d6f4f17b:templates/main.css
