<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Register</title>
  <!--CONNECT BOOTSTRAP-->  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>DailyM8 - Register</title>

    <link rel="stylesheet" href="./main.css">
</head>
<body>

    <div id="simplenavbar"> <!--BARRA DE NAVEGAÇÃO COM DIV-->
 
       <div id="navlogo"> <!--LOGO NA BARRA-->

        <img src="/staticfiles/images/logo-removebg-preview.png" style="width: 10%; height:10%; margin-top: -3%;">

       </div>

       <div id="optionsnavbar" style="margin-top: -97px; z-index: 4; "> <!--BOTÕES NA BARRA COM DIV-->

        <a href="novidades.html" style="text-decoration: none; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
          <h1 id="option1" style="font-size: 22px; margin-left: 80%;">NOVIDADES</h1>
        </a>

        <a href="sobrenos.html" style="text-decoration: none; color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
          <h1 id="option2" style="margin-left: 90%; margin-top: -2.64%; font-size: 22px;">SOBRE NÓS</h1>
        </a>


       </div>
    </div>

    <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 31%;">COMEÇA A APROVEITAR O TEU TEMPO LIVRE HOJE.</h2>
    <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 44%;">REGISTA-TE!</h2>

    <!--REGISTO BOX-->

    <div id="registerbox" style="background-color: gray; width: 40%; height:70%; position:absolute; margin-left:28%; margin-top:9%; border-radius:10px;">

        <h1 style="margin-left: 38.5%; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">REGISTAR</h1>

        <hr style="width: 430px; margin-top: -3%;">

        

        <form>

            <h2 style="margin-left: 5.5%; font-size: 19px; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Username</h2>

            <input type="text" placeholder="Username..." style="border-radius: 10px; border-color: gray; width: 87%; height: 40px; margin-left: 5.1%; margin-top: -2%;">

            <h2 style="margin-left: 5.5%;  font-size: 19px; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Password</h2>

            <input type="text" placeholder="Password..." style="border-radius: 10px; border-color: gray; width: 87%; height: 40px; margin-left: 5.1%; margin-top: -2%;">

            <h2 style="margin-left: 5.5%;  font-size: 19px; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Email</h2>

            <input type="text" placeholder="Email..." style="border-radius: 10px; border-color: gray; width: 87%; height: 40px; margin-left: 5.1%; margin-top: -2%;">

            <h2 style="margin-left: 5.5%;  font-size: 19px; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sexo</h2>

            <div id="optionssex" style="margin-left: 4.3%;">
            <div>
                <input type="checkbox" id="scales" name="scales">
                <label for="scales" style="color: white;">Masculino</label>
              </div>

              <div>
                <input type="checkbox" id="horns" name="horns">
                <label for="horns" style="color: white;">Feminino</label>
              </div>
            </div>

            <h2 style="margin-left: 24.5%; margin-top: -12.6%; font-size: 19px; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Data de Nascimento</h2>

            <input type="text" placeholder="MM-DD-AA" style="border-radius: 10px; border-color: gray; width: 26%; height: 30px; margin-left: 24.3%; margin-top: -2%;">

            <h2 style="margin-left: 64.5%; margin-top: -10.8%; font-size: 19px; color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Matrícula</h2>

            <input type="text" placeholder="LL" maxlength="2" style="border-radius: 10px; border-color: gray; width: 4%; height: 30px; margin-left: 64.3%; margin-top: -2%;">

            <input type="text" placeholder="00" maxlength="2" style="border-radius: 10px; border-color: gray; width: 4%; height: 30px; margin-left: 1.3%; margin-top: -1.1%; position: absolute;">

            <input type="text" placeholder="LL" maxlength="2" style="border-radius: 10px; border-color: gray; width: 4%; height: 30px; margin-left: 7.7%; margin-top: -1.1%; position: absolute;">

            <a href="mainpage.html">
            <button id="botaoregistar" style="width: 15%; height: 8%; margin-top: 10%; position:absolute; margin-left:-27%; color:white; background-color: lime; border-color: white; border-radius: 6%;">REGISTAR</button>
            </a>
        </form>



    </div>

    <div id="footerimage"> <!--IMAGEM-->

      <img src="./images/muralindex-removebg-preview.png" style="width: 110%; margin-left: -5%; margin-top: 45%;">

    </div>

    <div id="endfooter">


      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>