<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyM8</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/15e6590408.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

    
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <img src="/staticfiles/images/logo-removebg-preview.png" style="width: 7%; height:210%; position:absolute; z-index: 13; margin-top: -0.5%;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="visibility: hidden;">Offcanvas dark navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="mainpage.html"> <i class="fa-solid fa-house-user"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-newspaper"></i> Novidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-info"></i> Sobre Nós</a>
                  </li>
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Descobrir</h5>
                  <li class="nav-item">
                    <a class="nav-link" href="discoverrestaurants.html"> <i class="fa-solid fa-utensils"></i> Restaurantes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discovertoldos.html"> <i class="fa-solid fa-umbrella-beach"></i> Toldos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discoverestacionamento.html"> <i class="fa-solid fa-square-parking"></i> Estacionamentos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discoverpacks.html"> <i class="fa-solid fa-box-open"></i> Packs</a>
                  </li>
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Perfil</h5>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-thumbs-up"></i> Restaurantes que gostei</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-regular fa-thumbs-up"></i> Packs que gostei</a>
                  </li>
                  <!--OPÇÕES SÓ PARA STAFF (GESTORES DE ESTABELECIMENTOS)-->

                  <li class="nav-item">
                    <a class="nav-link" href="meusestabelecimentos.html"> <i class="fa-regular fa-thumbs-up"></i>Gestão de Estabelecimentos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i> A minha conta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                  </li>
              </ul>
              
            </div>
          </div>
        </div>
      </nav>

      <h1 style="position: absolute; color:black; margin-top: 6%; margin-left:2%; font-size:30px; ">O QUE VAIS DESCOBRIR HOJE?</h1>

      <div id="discoveritems">

        <a href="discoverrestaurants.html">
       <div id="restaurantesebaresitem" style="width: 20%; height:45%; border-radius: 7%; background-color: lightgray; position: absolute; margin-top: 11%; margin-left: 2%;">
    
         <h2 style="font-size: 20px; margin-left:13%; margin-top: 9%;">RESTAURANTES E BARES</h2>

         <img style="width:46%; height:35%; position:absolute; z-index: 18; margin-top: 40%; margin-left: 10%;" src="./images/burger-hi.png">

         <img style="width:46%; height:46%; position:absolute; z-index: 18; margin-top: 31%; margin-left: 40%;" src="./images/4973066.png">
       </div>
        </a>

        <a href="discovertoldos.html">
       <div id="toldositem" style="width: 20%; height:45%; border-radius: 7%; background-color: lightgray; position: absolute; margin-top: 11%; margin-left: 25%;">
    
        <h2 style="font-size: 20px; margin-left:11%; margin-top: 9%;">ACOMODAÇÕES DE PRAIA</h2>

        <img style="width:46%; height:56%; position:absolute; z-index: 18; margin-top: 20%; margin-left: 25%;" src="./images/image_processing20200610-6072-1nni9yu.png">
    
       </div>
        </a>

        <a href="discoverestacionamento.html">
       <div id="estacionamentoitem" style="width: 20%; height:45%; border-radius: 7%; background-color: lightgray; position: absolute; margin-top: 11%; margin-left: 48%;">
    
        <h2 style="font-size: 20px; margin-left:21%; margin-top: 9%;">ESTACIONAMENTO</h2>
    
        <img style="width:50%; height:56%; position:absolute; z-index: 18; margin-top: 20%; margin-left: 25%;" src="./images/187431.png">
       </div>
        </a>

        <a href="discoverpacks.html">
       <div id="packsitem" style="width: 20%; height:45%; border-radius: 7%; background-color: lightgray; position: absolute; margin-top: 11%; margin-left: 71%;">
    
        <h2 style="font-size: 20px; margin-left:39%; margin-top: 9%;">PACKS</h2>
    
        <img style="width:93%; height:92%; position:absolute; z-index: 18; margin-top: 1%; margin-left: 5%;" src="./images/packart-removebg-preview.png">
       </div>
        </a>
      </div>

      <h1 style="position: absolute; color:black; margin-top: 34%; margin-left:2%; font-size:30px; ">SUGESTÕES DE RESTAURANTES</h1>

      <select class="form-select" style="margin-top: 34%; margin-left: 74%; position: absolute; width: 17%;" aria-label="Default select example">
        <option selected>Tipo de Restaurante</option>
        <option value="1">Restaurante</option>
        <option value="2">Bar</option>
        <option value="3">Discoteca</option>
      </select>

      <div id="suggestionrestaurantandbaritem" style="position: absolute; width:20%; height:40%; background-color:lightgray; border-radius: 7%; margin-left: 2%; margin-top: 38%;">

        <h2 style="margin-top: 47%; margin-left: 8%; font-size: 25px;">NOME</h2>

        <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">LIKES</h3>

        <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">Nº MESAS</h3>

        <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">TIPO: </h3>

        <button class="btn btn-primary" style="margin-top: -25%; margin-left: 60%;">RESERVAR</button>

      </div>

      <button class="btn btn-primary" style="">VER MAIS</button>

      <div style="margin-top: 25%;">
      <h1 style="position: absolute; color:black; margin-top: 34%; margin-left:2%; font-size:30px; ">SUGESTÕES DE ACOMODAÇÕES DE PRAIA</h1>

      <select class="form-select" style="margin-top: 34%; margin-left: 74%; position: absolute; width: 17%;" aria-label="Default select example">
        <option selected>Tipo de Acomodações</option>
        <option value="1">Toldo</option>
        <option value="2">Espreguiçadeira</option>
      </select>

      <div id="suggestionrestaurantandbaritem" style="position: absolute; width:20%; height:40%; background-color:lightgray; border-radius: 7%; margin-left: 2%; margin-top: 38%;">

        <h2 style="margin-top: 58%; margin-left: 8%; font-size: 25px;">NOME</h2>

        <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">LIKES</h3>

        <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">Nº TOLDOS</h3>

        <button class="btn btn-primary" style="margin-top: -25%; margin-left: 60%;">RESERVAR</button>

      </div>
      </div>

      <div style="margin-top: 50%;">
        <h1 style="position: absolute; color:black; margin-top: 34%; margin-left:2%; font-size:30px; ">SUGESTÕES DE ESTACIONAMENTO</h1>
  
        <select class="form-select" style="margin-top: 34%; margin-left: 74%; position: absolute; width: 17%;" aria-label="Default select example">
          <option selected>Tipo de Estacionamento</option>
          <option value="1">Exterior</option>
          <option value="2">Coberto</option>
        </select>
  
        <div id="suggestionrestaurantandbaritem" style="position: absolute; width:20%; height:40%; background-color:lightgray; border-radius: 7%; margin-left: 2%; margin-top: 38%;">
  
          <h2 style="margin-top: 58%; margin-left: 8%; font-size: 25px;">NOME</h2>
  
          <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">LIKES</h3>
  
          <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">Nº LUGARES</h3>
  
          <button class="btn btn-primary" style="margin-top: -25%; margin-left: 60%;">RESERVAR</button>
  
        </div>
        </div>

        <div style="margin-top: 75%;">
          <h1 style="position: absolute; color:black; margin-top: 34%; margin-left:2%; font-size:30px; ">ULTIMOS PACKS</h1>
    
          <select class="form-select" style="margin-top: 34%; margin-left: 74%; position: absolute; width: 17%;" aria-label="Default select example">
            <option selected>Tipo de Avaliação</option>
            <option value="1">Melhor Avaliação</option>
            <option value="2">Pior Avaliação</option>
          </select>
    
          <div id="suggestionrestaurantandbaritem" style="position: absolute; width:20%; height:40%; background-color:lightgray; border-radius: 7%; margin-left: 2%; margin-top: 38%;">
    
            <h2 style="margin-top: 47%; margin-left: 8%; font-size: 25px;">NOME</h2>
    
            <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">LIKES</h3>
    
            <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">CRIADOR: </h3>

            <h3 style="margin-top: -2%; margin-left: 8%; font-size: 20px;">PREÇO: </h3>
    
            <button class="btn btn-primary" style="margin-top: -25%; margin-left: 60%;">RESERVAR</button>
    
          </div>
          </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>