#simplenavbar {

    width:101%;
    height:70px;
    margin-left: -0.59%;
    margin-top: -0.6%;
    background-color: black;
    

}

#endfooter {

   width: 101%;
   height: 12rem;
   margin-top: -5%;
   margin-left: -0.5%;
   background-color: black;

}