<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Restaurantes</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/15e6590408.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


    <nav class="navbar navbar-dark bg-dark fixed-top">
        <img src="./images/logo-removebg-preview.png" style="width: 7%; height:210%; position:absolute; z-index: 13; margin-top: -0.5%;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="visibility: hidden;">Offcanvas dark navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="mainpage.html"> <i class="fa-solid fa-house-user"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-newspaper"></i> Novidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-info"></i> Sobre Nós</a>
                  </li>
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Descobrir</h5>
                  <li class="nav-item">
                    <a class="nav-link" href="discoverrestaurants.html"> <i class="fa-solid fa-utensils"></i> Restaurantes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discovertoldos.html"> <i class="fa-solid fa-umbrella-beach"></i> Toldos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discoverestacionamento.html"> <i class="fa-solid fa-square-parking"></i> Estacionamentos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discoverpacks.html"> <i class="fa-solid fa-box-open"></i> Packs</a>
                  </li>
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Perfil</h5>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-thumbs-up"></i> Restaurantes que gostei</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-regular fa-thumbs-up"></i> Packs que gostei</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i> A minha conta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                  </li>
              </ul>
              
            </div>
          </div>
        </div>
      </nav>

       

      
      <h1 style="position: absolute; color:black; margin-top: 6%; margin-left:2%; font-size:30px; ">MENÚ - NOME DO RESTAURANTE</h1>
     <h2 id="what">WHAT</h2>
   
     <div id="organize20" style="width:76.5%; overflow-y: scroll; height:71%; background-color: lightgray; border-radius: 10px; position: absolute; margin-left: 14.2%; margin-top: 7%;">
    
        
        <!--ORGANIZE NECESSÁRIO PARA PRINTAR CADA PRATO APÓS UM TIPO DE PRATO SER SELECIONADO-->
    
     </div>

     <div id="optionsmenudiv" style="width: 10%; height:70%; margin-top: 7.1%; margin-left: 2.2%; background-color:transparent; position: absolute;">

        <div id="aperitivosbutton" style="width:120%; height:17%; background-color:gray; cursor: pointer;" onclick="filterprato(1)">

           <h3 style="color:white; align-items:center; margin-left: 4%; margin-top:19.1%; position:absolute;">APERITIVOS</h3>

            <!--NECESSITARÁ DE SELECT-->

        </div>

        <div id="entradasbutton" style="width: 120%; height:17%; background-color:gray; margin-top:13%; cursor: pointer;" onclick="filterprato(2)">

            <h3 style="color:white; align-items:center; margin-top:19.1%; position:absolute; margin-left: 4%;">ENTRADAS</h3>

            <!--NECESSITARÁ DE SELECT-->

        </div>

        <div id="pratosprincipaisbutton" style="width: 120%; height:17%; background-color:gray; margin-top:13%; cursor: pointer;" onclick="filterprato(3)">

            <h3 style="color:white; align-items:center; margin-top:7.1%; position:absolute; margin-left: 4%; ">PRATOS PRINCIPAIS</h3>

            <!--NECESSITARÁ DE SELECT-->

        </div>

        <div id="sobremesasbutton" style="width: 120%; height:17%; background-color:gray; margin-top:13%; cursor: pointer;" onclick="filterprato(4)">

            <h3 style="color:white; align-items:center; margin-top:7.1%; position:absolute; margin-left: 4%;">SOBREMESAS</h3>

            <!--NECESSITARÁ DE SELECT-->

        </div>

        <div id="pratosdodiabutton" style="width: 120%; height:17%; background-color:gray; margin-top:13%; cursor: pointer;" onclick="filterprato(5)">

            <h3 style="color:white; align-items:center; margin-top:7.1%; position:absolute; margin-left: 4%;">PRATOS DO DIA</h3>

            <!--NECESSITARÁ DE SELECT-->

        </div>

     </div>
  
     <!--DIV DE CADA PRATO QUE SERÁ INTRODUZIDO DENTRO DO ORGANIZE | ESTARÁ COMENTADO PARA SER INTRODUZIDO NUM LOOP FOR | O MARGIN-LEFT E TOP DEVE SER RETIRADO, SERÁ COLOCADO SOMENTE PARA A POSIÇÃO-->

     <div id="boxprato" style="width: 74.5%; height:12%; background-color: gray; position: absolute; padding: 5px; margin-left: 15%; margin-top: 8%;">

       <h3 style="color: white;">NOME DO PRATO</h3>

       <h3 style="color: white; font-size: 15px;">DESCRIÇÃO</h3>

       <h3 style="color: white; font-size: 15px; margin-left: 90%; margin-top: -2%;">PREÇO: </h3>

     </div>



  <button type="button" class="btn btn-primary btn-sm" style="margin-top: 3.1%; margin-left: 85%; position:absolute;"><b> < VOLTAR</b></button>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


      <script>

        function filterprato(id_type){
 
            console.log(id_type);

        }



      </script>
</body>
</html>